In [1]:
1+1
1*3
1/2
2**4
4%2
5%2
(2+3)*(5+5)

50

In [2]:
name_of_var=2
x=2
y=3
z=x+y
z

5

In [3]:
'single quotes'
"double quotes"
"wrap lot's of the quotes"

"wrap lot's of the quotes"

In [6]:
x='hello'
x
print(x)
num=12
name='Sam'
print('My number is: {one}, and my name is {two}'.format(one=num,two=name))
print('My number is:{}, and my name is: {}'.format(num,name))

hello
My number is: 12, and my name is Sam
My number is:12, and my name is: Sam

In [7]:
[1,2,3]
['hi',1,[1,2]]
my_list = ['a','b','c']
my_list.append('d')
my_list
my_list[0]
my_list[1]
my_list[1:]

['b', 'c', 'd']

In [16]:

my_list[:1]
my_list[0]='NEW'
my_list
nest = [1,2,3,[4,5,{'target'}]]
nest[3]
nest[3][2]

{'target'}

In [17]:
d = {'key1':'item1','key2':'item'}
d
d['key1']
True
False

False

In [18]:
t = (1,2,3)
t[0]
t[0]= ' New'

TypeError: 'tuple' object does not support item assignment

In [19]:
{1,2,3}

{1, 2, 3}

In [20]:
1>2
1<2
1>=1
1<=4
1==1
'hi'=='bye'

False

In [21]:
(1>2) and (2<3)
(1>2) or (2<3)
(1==2) or (2==3) or (4==4)

True

In [25]:
if 1<2:
    print('yep!')
if 1<2:
    print('yep!')
if 1<2:
    print('first')
else:
    print('last')
if 1>2:
    print('first')
else:
    print('last')
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else: 
    print('Last')

yep!
yep!
first
last
middle

In [27]:
seq = [1,2,3,4,5]
for item in seq:
    print (item)
for item in seq:
    print('yep')
for jelly in seq:
    print(jelly+jelly)

1
2
3
4
5
yep
yep
yep
yep
yep
2
4
6
8
10

In [28]:
i = 1
while i<5:
    print ('i is:{}'.format(i))
    i= i+1

i is:1
i is:2
i is:3
i is:4

In [29]:
range(5)
for i in range(5):
    print(i)
list(range(5))

0
1
2
3
4

[0, 1, 2, 3, 4]

In [30]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print (out)
[item**2 for item in x]

[1, 4, 9, 16]

[1, 4, 9, 16]

In [33]:
def my_func(param1='default'):
    """
    Docstring goes here
    """
    print(param1)
my_func
my_func()
my_func('new param')
my_func(param1='new param')
def square(x):
    return x**2
out = square(2)
print(out)

default
new param
new param
4

In [36]:
def time2(var):
    return var*2
time2(2)
lambda var:var*2

In [40]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B455-737A

 Directory of C:\Users\84827

17/03/2023  10:28 SA    <DIR>          .
31/12/2022  12:54 CH    <DIR>          ..
15/03/2023  01:15 CH    <DIR>          .android
17/03/2023  10:31 SA    <DIR>          .conda
10/03/2023  02:11 CH                25 .condarc
10/03/2023  02:11 CH    <DIR>          .continuum
07/03/2023  10:27 SA                16 .emulator_console_auth_token
07/03/2023  09:34 SA    <DIR>          .gradle
17/03/2023  10:28 SA    <DIR>          .ipynb_checkpoints
10/03/2023  02:12 CH    <DIR>          .ipython
10/03/2023  02:12 CH    <DIR>          .jupyter
07/03/2023  09:36 SA    <DIR>          .m2
10/03/2023  02:08 CH    <DIR>          anaconda
10/03/2023  02:00 CH    <DIR>          anaconda3
28/02/2023  01:48 CH    <DIR>          AndroidStudioProjects
31/12/2022  08:48 SA    <DIR>          Contacts
17/03/2023  09:36 SA    <DIR>          Desktop
10/03/2023  02:08 CH    <DIR>          Documents
17/03/2023  10:30 SA    <DIR>          Downloads
31/12/2022  08:48 SA    <DIR>          Favorites
17/03/2023  10:28 SA            11.408 lab1Class_datam.ipynb
31/12/2022  08:48 SA    <DIR>          Links
13/03/2023  02:30 CH    <DIR>          Microsoft
31/12/2022  08:48 SA    <DIR>          Music
17/03/2023  08:34 SA    <DIR>          OneDrive
03/01/2023  12:41 CH    <DIR>          Oracle
02/01/2023  11:03 CH    <DIR>          Pictures
31/12/2022  08:48 SA    <DIR>          Saved Games
31/12/2022  08:48 SA    <DIR>          Searches
10/03/2023  04:09 CH            36.301 Untitled.ipynb
17/03/2023  10:24 SA            11.408 Untitled1.ipynb
03/01/2023  05:12 CH    <DIR>          Videos
               5 File(s)         59.158 bytes
              27 Dir(s)  119.842.131.968 bytes free

In [39]:
seq=[1,2,3,4,5]
map(time2, seq)
list(map(time2,seq))
list(map(lambda var: var*2, seq))
filter(lambda item:item%2 ==0,seq)
list(filter(lambda item: item%2==0,seq))

[2, 4]

In [38]:
st = 'hello my name is Sam'
st.lower()
st.upper()
st.split()
tweet = 'Go Sports! #Sports'
tweet.split('#')
tweet.split('#')[1]
d
d.keys()
d.items()
lst = [1,2,3]
lst.pop()
lst
'x' in [1,2,3]
'x' in ['x','y','z']

True